// flex布局
.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  /*-webkit-box-lines: multiple;*/
  /* 12版 */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}
.jc-s {
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.jc-e {
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.jc-ce {
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
}

.jc-sb {
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.jc-sa {
  -webkit-box-pack: space-around;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.jc-fe {
  justify-content: flex-end;
}

.ai-c {
  align-items: center;
}
@for $i from 16 through 100 {
  .f-#{$i} { font-size: px2rem($i); }
}

.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}

.t-red {
  color: #ff4141;
}
.t-white {
  color: #fff;
}
.t-orange {
  color: #fd6831
}
.t-balck {
  color: #000;
}
.t-9-grey {
  color: #999;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
